@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Nunito", sans-serif;
}
:root {
  --bg-color: rgb(0, 74, 98);
  --snd-bg-color: rgb(70, 70, 70);
  --text-color: #fff;
  --main-color: rgb(0, 200, 255);
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.logo {
  font-size: 3.5rem;
  color: var(--text-color);
  font-weight: 700;
  cursor: default;
}
.navbar a {
  font-size: 2rem;
  color: var(--text-color);
  margin-left: 4rem;
  font-weight: 600;
  padding: 5px;
}

.navbar a.active,
.navbar a:hover {
  background: rgb(4, 158, 201);
  box-shadow: 0 0 1.5rem var(--main-color);
  border-radius: 15px;
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  display: none;
}
.header {
  background-color: rgb(0, 85, 111);
}
.home {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-content h3 {
  font-size: 3.2rem;
  font-weight: 600;
}
.home-content h3:nth-of-type(2) {
  margin-bottom: 2rem;
}
span {
  color: var(--main-color);
}
.home-content h1 {
  font-size: 5.6rem;
  font-weight: 600;
  line-height: 1.3;
}
.home-img img {
  width: 25vw;
  animation: floatImage 2s ease-in-out infinite;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  box-shadow: 0 0 10rem var(--main-color);
}
.home-img img:hover {
  box-shadow: 0 0 10rem var(--text-color);
}
@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3rem);
  }
  100% {
    transform: translateY(0);
  }
}
.home-content p {
  font-size: 1.6rem;
}
.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--text-color);
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.2s ease;
}
.social-media a:hover {
  background-color: var(--main-color);
  color: var(--snd-bg-color);
  box-shadow: 0 0 4rem var(--main-color);
  transform: scale(1.2);
  transform: translate3d(5%);
}
.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.6rem;
  color: var(--text-color);
  letter-spacing: 0.1rem;
  transition: 0.5s ease;
}
.btn:hover {
  color: var(--snd-bg-color);
  box-shadow: 0 0 2rem var(--text-color);
}
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: var(--bg-color);
}
.about-img img {
  width: 35vw;
  border: 3px solid var(--main-color);
  box-shadow: 0 0 2.5rem var(--main-color);
}
.about-img img:hover {
  box-shadow: 0 0 2.5rem var(--text-color);
}
.heading {
  text-align: center;
  font-size: 4.5rem;
}
.about-content {
  margin-left: 30px;
  border: 1px solid var(--main-color);
  background: rgba(70, 70, 70, 0.606);
  box-shadow: 0 0 0.5rem var(--text-color);
  border-radius: 10px;
  padding: 20px;
}
.about-content h2 {
  text-align: left;
  line-height: 1.2;
}
.about-content h3 {
  font-size: 2.6rem;
}
.about-content p {
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}
.about-btn {
  font-size: 1.6rem;
  color: var(--text-color);
  background: var(--main-color);
  padding: 1rem 2.5rem;
  letter-spacing: 0.1rem;
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  display: inline-block;
  margin-top: -20px;
}
.about-btn:hover {
  color: var(--snd-bg-color);
  box-shadow: 0 0 1rem var(--text-color);
}
.skill {
  background-color: var(--bg-color);
}
.skill h2 {
  text-align: center;
  justify-content: center;
  font-size: 5rem;
  width: 100%;
  margin-bottom: 5rem;
  border-radius: 1rem;
  border: 1px solid var(--text-color);
  text-decoration: underline rgba(0, 0, 0, 0.691);
  box-shadow: 0 0 1.5rem var(--main-color);
}
.skill-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2.5rem;
  width: 50%;
  float: left;
}
.skill-content .skill-box {
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1.5rem var(--main-color);
  border: 1px solid var(--snd-bg-color);
  overflow: hidden;
  display: flex;
  margin-top: 30px;
}
.skill-box img {
  width: 40%;
  transition: 0.5 ease;
  opacity: 0.7;
}
.skill-box:hover img {
  transform: scale(1.15);
}
.skill-box .skill-layer {
  position: absolute;
  bottom: 0;
  left: 30px;
  top: 0;
  background: linear-gradient(rgba(58, 58, 58, 0.1), var(--main-color));
  width: 100%;
  margin-left: -30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  transform: translateY(100%);
  transition: 0.5s ease;
}
.skill-box:hover .skill-layer {
  transform: translateY(0);
}
.skill-layer h4 {
  color: var(--text-color);
  font-size: 2rem;
  margin-left: 100px;
}
.skill-layer P {
  font-size: 1rem;
  margin-left: 100px;
}
.skill-layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background: var(--text-color);
  border-radius: 50%;
}
.skill-layer i {
  font-size: 1rem;
  color: var(--text-color);
  margin-left: 100px;
}
.skill-line {
  float: right;
  max-width: 600px;
  padding: 0 20px;
}

.skill-line .skill-name {
  font-size: 18px;
  font-weight: 700;
  color: var(--text-color);
  text-transform: uppercase;
  margin: 20px 0;
}
.skill-bar {
  width: 400px;
  height: 14px;
  background: var(--snd-bg-color);
  border-radius: 5px;
  box-shadow: 0 0 1rem var(--main-color);
}
.skill-per {
  height: 14px;
  background: var(--main-color);
  border-radius: 5px;
  position: relative;
  animation: run 2.5s 1;
  box-shadow: 0 0 0.5rem var(--text-color);
}
.skill-per::before {
  content: attr(per);
  position: absolute;
  font-size: 2rem;
  font-weight: 500;
  background: var(--text-color);
  color: black;
  margin-top: -40px;
  border-radius: 5px;
  right: 0;
  transform: translateX(50%);
}
.skill-per::after {
  content: "";
  position: absolute;
  background: var(--text-color);
  width: 10px;
  height: 10px;
  margin-top: -18px;
  right: 0;
  transform: translateX(50%) rotate(45deg);
}
@keyframes run {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.contact h2 {
  margin-bottom: 3rem;
}
.contact form {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}

.contact form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  background-color: rgba(50, 50, 50, 0.567);
  border: 1px solid var(--main-color);
  box-shadow: 0 0 0.5rem var(--main-color);
  color: var(--text-color);
  border-radius: 0.8rem;
  margin: 0.7rem 0;
}
.contact form .input-box input {
  width: 49%;
}
.contact form textarea {
  resize: none;
}
.contact form .btn {
  margin-top: 2rem;
  cursor: pointer;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background: rgb(0, 85, 111);
}
.footer-text {
  font-size: 1.7rem;
}
.footer-iconTop {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem 1rem;
  background: var(--main-color);
  border-radius: 0.8rem;
  transition: 0.5s ease;
}
.footer-iconTop :hover {
  box-shadow: 0 0 1rem var(--main-color);
}
.footer-iconTop a i {
  font-size: 3.4rem;
  color: var(--snd-bg-color);
}

/* responsive*/
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 991px) {
  .header {
    padding: 2rem 3%;
  }
  section {
    padding: 10rem 3%;
  }
  .skill {
    padding: 5rem;
  }
  .about {
    padding-bottom: 7rem;
  }
  .contact {
    width: 100%;
  }
  .footer {
    padding: 2rem 3%;
  }
  .skill-content {
    grid-template-columns: repeat(2, 1fr);
  }
  .contact {
    width: 100%;
    min-height: 100%;
  }
}
@media (max-height: 768px) {
  #menu-icon {
    display: block;
  }
  .navbar {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    padding: 3rem;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.532);
    column-gap: var(--text-color);
    box-shadow: 0 0 1rem var(--text-color);
  }
  .navbar a {
    display: block;
    padding: 10px-n;
    font-size: 2rem;
  }
  .navbar.active {
    display: block;
  }
  .home {
    flex-direction: column;
  }
  .home-content {
    order: 2;
  }
  .home-content h3 {
    font-size: 2.6rem;
  }
  .home-content h1 {
    font-size: 5rem;
  }

  .home-img img {
    width: 50vw;
    margin-top: 4rem;
  }
  .about {
    flex-direction: column;
  }
  .about-img img {
    width: 50vw;
    margin-top: 4rem;
  }
  .skill h2 {
    font-size: 3rem;
    margin-bottom: 3rem;
  }
  .skill-content {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
  .skill-line {
    display: none;
  }
  .contact {
    width: 100%;
    min-height: 100%;
  }
}
@media (max-width: 617px) {
  .skill-content {
    grid-template-columns: repeat(3, 2fr);
    width: 400px;
    margin-right: 20px;
  }
  .skill-line {
    display: block;
    margin-bottom: 50px;
  }
  .skill-bar {
    margin-right: -30px;
  }
  .contact {
    min-height: auto;
  }
}
